<!-- <p>show-details works!</p> -->
<div>

    <h2>Shows</h2>
    <!-- <mat-icon (click)="close()" style="margin-left: 100%;">close</mat-icon> -->
    <p *ngIf="data.length==0" style="color:red;margin-left: 37%;">No shows available</p>
    
    
    
    
    
    
    
    
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
    
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name         
            </th>
          <td mat-cell *matCellDef="let movie"> {{movie.name}}
        </td>
        </ng-container>
    
    
        <!-- Timings Column -->
        <ng-container matColumnDef="timing">
          <th mat-header-cell *matHeaderCellDef> Timings         
            </th>
          <td mat-cell *matCellDef="let movie"> {{movie.timing}}
        </td>
        </ng-container>
    
    
        <!-- Location Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Location         
            </th>
          <td mat-cell *matCellDef="let movie"> {{movie.location}}
        </td>
        </ng-container>
    
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price         
            </th>
          <td mat-cell *matCellDef="let movie"> {{movie.price}}
            <!-- <mat-icon (click)="deleteTheatre(movie.name)">delete</mat-icon>
            <mat-icon (click)="onClickUpdateMovie(movie)">edit</mat-icon> -->
        </td>
        </ng-container>
    
    
    
    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    