<mat-drawer-container>
  <mat-drawer-content style="overflow: hidden;">

    <div class="silder" [ngStyle]="{'background-image': 'url(' + url + ')'}">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="desktop-hide" (click)="drawer.toggle()">
        reorder
      </mat-icon>
    </div>

    <div class="features">
      <div class="row">
        <div class="column">
          <mat-icon aria-hidden="false" aria-label="Example home icon">loyalty</mat-icon>
          <h3>No Extra Fee</h3>

        </div>
        <div class="column">
          <mat-icon aria-hidden="false" aria-label="Example home icon">mouse</mat-icon>
          <h3>Book with 3 clicks</h3>

        </div>
        <div class="column">
          <mat-icon aria-hidden="false" aria-label="Example home icon">language</mat-icon>
          <h3>30 cities
          </h3>

        </div>
      </div>
    </div>
    <div class="contents">
      <h2>Why Book It Now
      </h2>
      <div class="row">
        <div class="column center-content">
          <h3>Zero fees
          </h3>
          <p>No extra fees. No hidden fees. Pay only the ticket price.
          </p>
        </div>
        <div class="column">
          <img src="https://i.imgur.com/jCQ3kEa.png">
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img src="https://i.imgur.com/yi7RVEB.png">
        </div>
        <div class="column center-content">
          <h3>Quick book
          </h3>
          <p>Choose theatre, choose movie, Click seats. Voila! You got your ticket. Pay in the theatre.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="column center-content">
          <h3>Global</h3>
          <p>Book in over 30 cities all around India.
          </p>
        </div>
        <div class="column">
          <img
            src="https://media.istockphoto.com/photos/network-connections-world-map-polygon-graphic-background-with-lines-picture-id1192803561?k=20&m=1192803561&s=612x612&w=0&h=J2RzMB96oc_D3yj7RYGh0c26S5Jxo0eOrb8U3tNyGRM=">
        </div>
      </div>
      <div class="row">

      </div>
    </div>

    <div class="footer" color="primary">
      <mat-toolbar color="primary">
        <span>BookItNow.com</span>
      </mat-toolbar>
    </div>
  </mat-drawer-content>
</mat-drawer-container>