<div class="grid-container">
  <h1 class="mat-h1">Stats</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            App stats
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <div>Card Content Here</div> -->
          <app-line-chart [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></app-line-chart>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Popular showtime
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <div>Card Content Here</div> -->

          <app-doughnut-chart [doughnutChartLabels]="doughnutChartLabels" [doughnutChartData]="doughnutChartData">
          </app-doughnut-chart>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Popular movies

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <div>Card Content Here</div> -->

          <app-bar-chart [barChartData]="barChartData" [barChartLabels]="barChartLabels"></app-bar-chart>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Popular genre

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <div>Card Content Here</div> -->

          <app-pie-chart [pieChartLabels]="pieChartLabels" [pieChartData]="pieChartData"></app-pie-chart>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>

<!-- <button (click)="lineChartData=[]">asdf</button> -->